.container {
  margin-top: 2rem !important;

  .content {
    .post-title {
      margin-bottom: 2rem;
      h1 {
        display: inline-block;
        margin-right: 0.7rem;
      }
    }

    ol,
    ul li:last-child {
      margin-bottom: 1rem;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }
}

// resolve conflicts between bulma css preset and prismjs
pre[class*='language-'] .tag,
pre[class*='language-'] .number {
  align-items: stretch;
  background-color: transparent;
  border-radius: 0;
  display: inline;
  font-size: 1em;
  justify-content: flex-start;
  line-height: normal;
  padding: 0;
  white-space: pre;
  margin-right: 0;
  min-width: auto;
  text-align: left;
  vertical-align: baseline;
}

:not(pre) > code[class*='language-'] {
  background: rgba(27, 31, 35, 0.05);
  color: #ff3860;
}

// embed tweet styling
.twitter-tweet-rendered {
  margin: 0 auto;
}
