@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// TODO: Change main theme color to `hsl(248, 39%, 39%)`

html,
body {
  font-size: 16px;
  font-family: 'Iropke Batang', 'Noto Sans', sans-serif, serif;
  word-break: keep-all;
}

a {
  color: $cyan;
}

footer {
  margin-top: 2rem;
}

