@import url('//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');

html,
body {
  font-size: 18px;
  font-family: 'Iropke Batang', 'Noto Sans', sans-serif, serif;
  word-break: keep-all;
}

a {
  color: hsl(217, 71%, 53%);
}

footer {
  margin-top: 2rem;
}
